table,td,tr{
    border: 1 solid black;

}
table{
    margin: auto;
    width: auto;

    border: 3px solid black;


}
#result{
    width: 100%;
    height: 80px;

}
input[type="button"] 
    { 
    background-color: blanchedalmond; 
    color: black; 
    border: solid black 1px; 
    padding:20px 40px 20px 40px ;
    } 

input[type="text"] 
    { 
   
    background-color:white; 
    border: solid black 2px; 
    width:100% 
    } 
#clearbuttom{
        width: 100%;
    }
#buttom1{
        width: 100%;
    }