.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table,td,tr{
  border: 1 solid black;

}
table{
  margin: auto;
  width: auto;

  border: 3px solid black;


}
#result{
  width: 100%;
  height: 80px;

}
input[type="button"] 
  { 
  background-color: blanchedalmond; 
  color: black; 
  border: solid black 1px; 
  padding:20px 40px 20px 40px ;
  } 

input[type="text"] 
  { 
 
  background-color:white; 
  border: solid black 2px; 
  width:100% 
  } 
#clearbuttom{
      width: 100%;
  }
#buttom1{
      width: 100%;
  }
